// color variables
$hamburger-primary-color: rgb(60, 60, 60)
$hamburger-secondary-color: rgb(255, 255, 255)
$hamburger-utility-color: rgb(100, 100, 100)
$hamburger-accent-color: rgb(204, 126, 10)
$btn-color1: rgb(240, 196, 76)
$btn-color2: rgb(168, 97, 31)
$accent-color1: rgb(219, 220, 206)
$accent-color2: rgb(110, 153, 133)
$modal-overlay-color: rgba(0, 0, 0, 0.5)

    
// media breakpoints
$tablet-breakpoint: 768px
$desktop-breakpoint: 1280px