@use "../../styles/partials/variables" as *
@use "../../styles/partials/_mixins" as *
    
.header
    padding-bottom: 1rem
    display: flex
    justify-content: space-between
    position: absolute
    top: 0
    left: 0
    z-index: 1000
    color: white
    width: 100%

    &--dark
        @extend .header
        color: black

    @include tablet
        padding-top: 5rem
        padding-left: 5rem
        padding-right: 5rem
        flex-direction: column

    @include desktopXL
        padding-left: 10rem
        padding-right: 10rem
        max-width: 1540px
        left: calc((100% - 1540px)/2)
        margin: auto

    &__title-container
        padding-left: 1rem

        @include tablet
            padding-left: 0

    &__title
        padding-bottom: 0.5rem
        padding-top: 0.5rem
        font-size: 2.5rem

        @include tablet 
            padding-top: 0

    &__subtitle
        font-size: 1.2rem
        padding-bottom: 1rem


    &__logo
        text-decoration: none
        color: inherit

    &__nav
        display: none

        @include tablet
            display: flex
            gap: 1.5rem
            align-items: flex-start
            flex-direction: row
            justify-content: space-between
            

    &__list
        display: flex
        gap: 1rem
        padding-left: 0
        font-weight: 600
        -webkit-user-select: none
        -ms-user-select: none
        user-select: none
        list-style-type: none

        &--wraps
            flex-wrap: wrap
            row-gap: 5rem


    &__item
        position: relative

        &--submenu
            display: flex
            position: relative

    &__link
        text-decoration: none
        color: inherit
        cursor: pointer
        display: inline
        padding-bottom: 0.1rem

        &:hover
            border-bottom: 2px solid

        &--active
            border-bottom: 2px solid

        &--submenu
            white-space: nowrap

    &__drop-list
        display: flex
        flex-direction: column
        gap: 0.4rem
        padding-left: 0
        position: absolute
        top: 1.5rem
        list-style-type: none

    &__icon
        color: white
        font-size: 1.4rem

        &--dark
            @extend .header__icon
            color: black

    &__menu-icon
        font-size: 2.5rem
        cursor: pointer
        position: fixed
        right: 0.5rem

        @include tablet
            display: none

    &__socials-item
        font-size: 1.5rem
        cursor: pointer

    &__socials-link
        color: black
        display: flex
            

    &__hamburger-menu
        display: none

        &--visible
           display: block 


