.header
    padding-bottom: 5rem
    padding-top: 5rem
    border-bottom: 1px solid black
    width: 1000px
    margin: auto

    &__logo
        text-decoration: none
        color: black

    &__nav
        display: flex
    
    &__list
        display: flex
        gap: 1rem

    &__item
        display: flex
        
    &__link
        text-decoration: none
        color: black
