@use "../../styles/partials/variables" as *
@use "../../styles/partials/_mixins" as *

.footer
    margin-top: 4rem

    &__copyright
        text-align: center
        padding-bottom: 0.5rem
        font-size: 0.875rem

        @include tablet
            text-align: left
            padding-left: 10rem

    &__accent
        height: 5rem
        background-color: $accent-color1


    &__home-btn
        position: fixed
        bottom: 1.25rem
        right: 1.25rem
        font-size: 2rem
        color: $btn-color1
        cursor: pointer

        @include tablet
            bottom: 2.5rem
            right: 2.5rem

    &__home-btn-bg
        position: fixed
        bottom: 1.25rem
        right: 1.25rem
        width: 2rem
        height: 2rem
        border-radius: 50%
        background: $btn-color2

        @include tablet
            bottom: 2.5rem
            right: 2.5rem