@use "../../styles/partials/variables" as *

.footer
    margin-top: 4rem

    &__copyright
        padding-left: 10rem
        padding-bottom: 0.5rem
        font-size: 0.875rem

    &__accent
        height: 5rem
        background-color: $accent-color1
